# COPY THIS FILE INTO `.env` AND THEN ADD YOUR VARIABLES SO IT ISNT PUSHED

# this can hold environment variables managed by flask run through the python-dotenv lib
#MONGODB_HOST=[FILL THIS IN]

# Uncomment below line to enable automatic reload, production build is default
#FLASK_ENV=development
