.flex-container {
    display: flex;
}

#agora {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmbwGCW634UBv8qIH-zqNMospeGsJl5WLAOlZsAoFGC5CsROW3Ww');
    border-radius: 20%
}

.ballpic {
    transition: all 1.4s ease;
    margin: 10px 15px;
}
